<mat-form-field>
  <div>
    <mat-toolbar>
      <!-- Display files names -->
      <input matInput [(ngModel)]="fileAttr" readonly name="name" />

      <!-- Browse Button -->
      <button mat-flat-button color="primary" (click)="inputFile.click()">
        Browse File
      </button>

      <button
        mat-flat-button
        color="primary"
        style="margin-left: 1rem"
        (click)="upload()"
      >
        Upload
      </button>

      <mat-checkbox
        style="margin-left: 1rem"
        (change)="onOverrideCheckboxChange()"
        >Override</mat-checkbox
      >
    </mat-toolbar>

    <!-- Fetch selected filed on change -->
    <input
      hidden
      type="file"
      #inputFile
      id="uploadFile"
      (change)="onChange($event)"
      name="uploadFile"
    />
  </div>
</mat-form-field>

<div style="float: right; margin: 1rem">
  <button mat-flat-button color="warn" (click)="clearDatabase()">
    Clear Database
  </button>
</div>

<div class="loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
