<div class="title">{{ title }}</div>

<div class="research">
  <div class="query-builder mat-elevation-z8">
    <br />
    <div class="query-component" *ngFor="let qf of queryFields; let i = index">
      <button mat-button color="primary" (click)="removeQueryField(i)">
        <mat-icon>close</mat-icon>
      </button>
      <app-query-field
        (tableChangeEvent)="updateFields($event)"
        [(isFirst)]="qf.isFirst"
        [(operator)]="qf.operator"
        [(tables)]="qf.tables"
        [(selectedTable)]="qf.selectedTable"
        [(fields)]="qf.fields"
        [(selectedField)]="qf.selectedField"
        [(option)]="qf.option"
        [(val)]="qf.val"
        [(fromDate)]="qf.fromDate"
        [(toDate)]="qf.toDate"
        [(fromTime)]="qf.fromTime"
        [(toTime)]="qf.toTime"
      ></app-query-field>
    </div>

    <div class="query-add-field-button">
      <button mat-fab color="primary" (click)="addQueryComponent()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="query-builder mat-elevation-z8">
    <div class="sub-title">Query results</div>
    <div class="query-results-components">
      <app-quey-select-tree
        *ngFor="let tree of querySelectFields"
        [(tableData)]="tree.tableData"
        [(selectedQueryFilterFields)]="tree.selectedQueryFilterFields"
      ></app-quey-select-tree>
    </div>
  </div>
</div>

<div class="search-button-div">
  <button
    mat-raised-button
    class="search-button"
    color="primary"
    (click)="getResults()"
  >
    <mat-icon style="padding: 0rem 0.5rem 0rem 0.5rem">search</mat-icon>
    Search
  </button>
</div>

<div class="loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<div *ngIf="showTable">
  <div class="margin-div mat-elevation-z8" #TABLE>
    <mat-form-field>
      <mat-label
        ><mat-icon style="padding: 0rem 0.5rem 0rem 0.5rem">search</mat-icon
        >Filter</mat-label
      >
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>
    <div class="table-responsive">
      <mat-table
        [trackBy]="trackById"
        [dataSource]="dataSource"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)"
        matSort
        matTableExporter
        #exporter="matTableExporter"
        [hiddenColumns]="[]"
      >
        <ng-container
          *ngFor="let disCol of displayedColumns"
          matColumnDef="{{ disCol }}"
        >
          <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>{{
            disCol
          }}</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element[disCol] }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator
        [pageSizeOptions]="[10, 25, 50, 100]"
        showFirstLastButtons
        [length]="resultsLength"
      ></mat-paginator>
    </div>
  </div>

  <div class="margin-div">
    <button
      style="margin-right: 1rem"
      mat-raised-button
      (click)="exporter.exportTable('xlsx', { fileName: 'ivf_research' })"
    >
      <mat-icon>save</mat-icon>
      Excel
    </button>
    <button
      mat-raised-button
      (click)="
        exporter.exportTable('csv', {
          fileName: 'ivf_research'
        })
      "
    >
      <mat-icon>save</mat-icon>
      CSV
    </button>
  </div>
</div>
