.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.mat-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
  margin: 0px;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.title {
  font-size: 3rem;
  color: crimson;
  margin: 2rem;
}

.margin-div {
  margin: 2rem;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.research {
  display: flex;
  justify-content: flex-start;
}

.query-builder {
  width: 50%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.query-component-field {
  max-width: 10rem;
  margin-right: 2rem;
}

.sub-title {
  font-size: large;
  margin: 1rem;
}

.query-component1 {
  margin-left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  text-align: center;
}

.query-results-components {
  margin-left: 1rem;
  display: flex;
  flex-flow: row wrap;
}

.query-component {
  display: flex;
}

.query-add-field-button {
  margin: 1rem;
}

.small-sub-title {
  font-size: medium;
}

.search-button {
  max-width: 20rem;
  min-width: 15rem;
  font-size: large;
}

.search-button-div {
  width: 100%;
  text-align: center;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
