<div class="query-component">
  <div class="query-component-field" *ngIf="!isFirst">
    <mat-form-field appearance="fill">
      <mat-label>Select an operator</mat-label>
      <mat-select [(value)]="operator">
        <mat-option>None</mat-option>
        <mat-option value="and">AND</mat-option>
        <mat-option value="and (">AND (</mat-option>
        <mat-option value=") and (">) AND (</mat-option>
        <mat-option value="and exists">AND EXISTS</mat-option>
        <mat-option value=") and exists">) AND EXISTS</mat-option>
        <mat-option value="or">OR</mat-option>
        <mat-option value="or (">OR (</mat-option>
        <mat-option value=") or (">) OR (</mat-option>
        <mat-option value="or exists">OR EXISTS</mat-option>
        <mat-option value=") or exists">) OR EXISTS</mat-option>
        <mat-option value="and not">NOT</mat-option>
        <mat-option value="and not (">NOT (</mat-option>
        <mat-option value=") and not (">) NOT (</mat-option>
        <mat-option value="and not exists">NOT EXISTS</mat-option>
        <mat-option value=") and not exists">) NOT EXISTS</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="query-component-field">
    <mat-form-field appearance="fill">
      <mat-label>Select a table</mat-label>
      <mat-select [(value)]="selectedTable" (selectionChange)="loadFields()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let table of tables" [value]="table">{{
          table
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="query-component-field">
    <mat-form-field appearance="fill">
      <mat-label>Select a field</mat-label>
      <mat-select [(value)]="selectedField">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let field of fields" [value]="field">{{
          field.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <span *ngIf="selectedField != undefined && selectedField.name != 'None'">
    <span
      class="query-component"
      *ngIf="
        !(
          selectedField.type.toLowerCase().includes('date') ||
          selectedField.type.toLowerCase().includes('time')
        )
      "
    >
      <div class="query-component-field">
        <mat-form-field appearance="fill">
          <mat-label>Select an option</mat-label>
          <mat-select [(value)]="option">
            <mat-option>None</mat-option>
            <mat-option
              *ngFor="let option of this.options"
              value="{{ option }}"
              >{{ option }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <span
        class="query-component-field"
        *ngIf="
          !(
            selectedField.type.toLowerCase().includes('bool') ||
            selectedField.type.toLowerCase().includes('bit')
          )
        "
      >
        <mat-form-field appearance="fill">
          <mat-label>Value</mat-label>
          <textarea
            matInput
            type="text"
            [(ngModel)]="val"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
          ></textarea>
        </mat-form-field>
      </span>
    </span>

    <span
      class="query-component"
      *ngIf="
        selectedField.type.toLowerCase().includes('date') ||
        selectedField.type.toLowerCase().includes('timestamp')
      "
    >
      <div class="query-component-field">
        <mat-form-field color="accent" appearance="fill">
          <mat-label>From Data:</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="fromDate" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="query-component-field">
        <mat-form-field color="accent" appearance="fill">
          <mat-label>To Data:</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="toDate" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </span>

    <span
      class="query-component"
      *ngIf="
        selectedField.type.toLowerCase().includes('time') &&
        !selectedField.type.toLowerCase().includes('date') &&
        !selectedField.type.toLowerCase().includes('stamp')
      "
    >
      <div class="query-component-field">
        <mat-form-field color="accent" appearance="fill">
          <mat-label>From Time:</mat-label>
          <input
            matInput
            [ngxTimepicker]="fromTimePicker"
            [format]="24"
            [(ngModel)]="fromTime"
            placeholder="From Time:"
          />
          <mat-icon matSuffix>schedule</mat-icon>
        </mat-form-field>
        <ngx-material-timepicker #fromTimePicker></ngx-material-timepicker>
      </div>
      <div class="query-component-field">
        <mat-form-field color="accent" appearance="fill">
          <mat-label>To Time:</mat-label>
          <input
            matInput
            [ngxTimepicker]="toTimePicker"
            [format]="24"
            [(ngModel)]="toTime"
            placeholder="To Time:"
          />
          <mat-icon matSuffix>schedule</mat-icon>
        </mat-form-field>
        <ngx-material-timepicker #toTimePicker></ngx-material-timepicker>
      </div>
    </span>
  </span>
</div>
