mat-sidenav {
  min-width: 10rem;
}

mat-toolbar {
  color: crimson;
  border-bottom: solid 1px gray;
}

.imgRight {
  position: absolute;
  display: block;
  right: 2rem;
  max-height: 6vh;
}

.imgLeft {
  padding-left: 1rem;
}
